.empty {
    padding: 15;
    background-color: red;
    color: yellow;
    font-size: 25;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    text-decoration: underline;
}
.changed-styles {
    font-size: 15;
    text-decoration: line-through;
    background-color: blue;
    color: green;
    text-align: right;
}

StackLayout {
    horizontal-align: center;
}