.empty {
    padding: 15;
    background-color: red;
    color: yellow;
    font-size: 25;
    font-weight: bold;
    font-style: italic;
    /*text-align: center;*/
    /*text-decoration: underline;*/
}
.changed-styles {
    text-decoration: underline;
    background-color: blue;
    color: green;
}

StackLayout {
    horizontal-align: center;
}